fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
scikit-learn
numpy
pandas
google-generativeai
apscheduler
python-dotenv
gTTS
xgboost
reportlab
pytesseract
opencv-python
pillow